.container{
    width: 100%;
    max-width: 1160px;
    margin: 0 auto;
    z-index: 10;
    position: relative;
}

.mainWrapper{
    width: 100vw;
    height: 100vh;
    padding: 60px 120px 120px 120px;
    min-height: 500px;
    position: relative;
    overflow: scroll;
}

.circleContainer{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0%;
    left: 0%;
    overflow: hidden;
    z-index: 0;
}

.logoWrapper{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 70px;
}
.logoMain{
    width: 160px;
}

.circleWrapper-1{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -80%;
    left: -30%;
    z-index: 0;
}
.circleWrapper-2{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: -80%;
    right: -40%;
    z-index: 0;
}

@media screen and (min-width: 480px) {
    
}